:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

app-header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 50;
}

router-outlet + * {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
